---
export interface Props {
  projects: Record<
    string,
    {
      name: string
      link: string
      desc: string
      icon?: string
    }[]
  >
}

function slug(name: string): string {
  return name.toLowerCase().replace(/[\s\\/]+/g, '-')
}

const { projects } = Astro.props
---

<div class="mx-auto max-w-300">
  {
    Object.keys(projects).map((key, cidx) => (
      <div slide-enter style={{ '--enter-stage': cidx + 1 }}>
        <div
          id={slug(key)}
          class="select-none relative h20 pointer-events-none slide-enter"
          style={{ '--enter-stage': cidx - 2, '--enter-step': '60ms' }}
        >
          <span class="text-5em color-transparent absolute left--1rem top-0rem font-bold leading-1em text-stroke-1.5 text-stroke-hex-aaa op35 dark:op20">
            {key}
          </span>
        </div>

        <div class="project-grid mx-auto max-w-500 w-max py-2 grid grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-3">
          {projects[key].map((item) => (
            <a href={item.link} target="_blank" class="item relative flex items-center" title={item.name}>
              <div class="pr-5 pt-2">
                <div v-else class:list={['text-3xl opacity-50', item.icon || 'i-carbon-campsite']} />
              </div>

              <div class="flex-auto">
                <div class="text-normal">{item.name}</div>
                <div class="desc text-sm font-normal opacity-50">{item.desc}</div>
              </div>
            </a>
          ))}
        </div>
      </div>
    ))
  }
</div>

<div>
  <div class="table-of-contents">
    <div class="table-of-contents-anchor">
      <div class="i-ri-menu-2-fill"></div>
    </div>
    <ul>
      {
        Object.keys(projects).map((key) => (
          <li>
            <a href={`#${slug(key)}`}>{key}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style is:inline>
  .project-grid a.item {
    background: transparent;
    font-size: 1.1rem;
    width: 350px;
    max-width: 100%;
    padding: 0.5rem 0.875rem 0.875rem;
    border-radius: 6px;
  }

  .project-grid a.item:hover {
    background: #88888811;
  }
</style>
