---
import type { Props } from '../props'

import ToggleTheme from 'virtual:vitesse/components/ToggleTheme'
import LanguageSelect from './LanguageSelect.astro'

const { navBar } = Astro.props
---

<nav class="nav">
  <div class="spacer"></div>
  <div class="right print:op0">
    {
      navBar.map((item) => (
        <a href={item.href} title={item.label} class={item.wrapperClass} {...item.attrs}>
          {!item.hideLabel && <span class={item.labelClass}>{item.label}</span>}
          {item.icon && <div class:list={[item.icon, item.iconClass]} />}
        </a>
      ))
    }

    <ToggleTheme />

    <LanguageSelect {...Astro.props} />
  </div>
</nav>

<style is:inline>
  .nav {
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto max-content;
    box-sizing: border-box;
  }

  .nav > * {
    margin: auto;
  }

  .nav img {
    margin-bottom: 0;
  }

  .nav a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.2s ease;
    opacity: 0.6;
    outline: none;
  }

  .nav a:hover {
    opacity: 1;
    text-decoration-color: inherit;
  }

  .nav .right {
    display: grid;
    grid-gap: 1.2rem;
    grid-auto-flow: column;
  }

  .nav .right > * {
    margin: auto;
  }
</style>
