---
import type { Props } from '../props'
import config from 'virtual:vitesse/user-config'

import { logos } from 'virtual:vitesse/user-images'

const { siteTitle, siteTitleHref } = Astro.props
---

<a
  class="absolute m-5 flex select-none items-center gap-x-1 outline-none xl:fixed"
  href={siteTitleHref}
  aria-label="Home"
>
  {
    config.logo && logos.dark && (
      <>
        <img
          class:list={{ 'hidden dark:inline-block': !('src' in config.logo), 'h-12 w-12': true }}
          alt={config.logo.alt}
          src={logos.dark.src}
          width={logos.dark.width}
          height={logos.dark.height}
        />
        {/* Show light alternate if a user configure both light and dark logos. */}
        {!('src' in config.logo) && (
          <img
            class="inline-block dark:hidden h-12 w-12"
            alt={config.logo.alt}
            src={logos.light?.src}
            width={logos.light?.width}
            height={logos.light?.height}
          />
        )}
      </>
    )
  }
  <span class:list={{ 'sr-only': config.logo?.replacesTitle }}>
    {siteTitle}
  </span>
</a>
